@keyframes slideNotification {

    from {
        opacity: 0;
        transform: translateX(80px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes spinLoader {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.bar {
    animation: loadBar 2.5s ease;
}

@keyframes loadBar {

    from {

        width: 0;

    }

    to {

        width: 78%;

    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(.9);
        opacity: .4;
    }

    50% {
        transform: scale(1.2);
        opacity: .9;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        transform: translateY(-120vh);
        opacity: 0;
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: .4;
    }
}

@keyframes rotateCircle {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes pulseCore {
    0% {
        transform: scale(1);
        text-shadow: 0 0 10px cyan;
    }

    50% {
        transform: scale(1.15);
        text-shadow:
            0 0 30px cyan,
            0 0 60px cyan;
    }

    100% {
        transform: scale(1);
        text-shadow: 0 0 10px cyan;
    }
}

@keyframes scanMove {
    from {
        top: -10px;
    }

    to {
        top: 100%;
    }
}

@keyframes ringRotate {
    from {
        transform: translate(-50%, -50%) rotate(0);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes lineMove {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes online {
    50% {
        transform: scale(.7);
        opacity: .3;
    }
}

@keyframes newsAppear {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}